@import 'base/fonts';
@import 'layout/nav';
span
{
    color: #F2A444
}

.menuToggle{
    display: none;
}


header img 
{
    
    margin-left: 40%; 
}

h1
{
    margin-left: 42%;
}
.titre-presta 
{
    color: #F2A444
}

.main-presta p {text-align: center;

}

.contact img
{
    margin-left: 35%; 
    display: flex;
    justify-content: center;
}

.contact-form
{
    text-align: center;
    

}

.photo-contact
{
    width: 30vw;
}

.nav-contact li{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.4rem;
    
}

.nav-contact ul
{
    list-style-type: none;
}

.nav-contact a

    {color: #F2A444;
        padding-bottom: 3px;
        text-decoration: none;}

    .cotact{
        display: flex;
    }



.photo-presta
{
    margin-bottom: 10%;
}

.galerie-image {
    margin-left: 20%;
    
    
    
    
}

.galerie-image img 
{
    width: 30vw;
}    


section img
{
    display: flex;
    justify-content: space-around
}


    .first-image{
        display: flex;
        justify-content: space-around;
        margin: 4%;
        opacity: 0.9;
    }

 .second-image
 {
    display: flex;
    justify-content: space-around;
    margin: 4%
 }

    h2 ,p 
    {
        text-align: center; 
    }

    main p
    {
        text-align: inherit;
        margin-left: 5%;
        margin-right: 5%;
    }


        

    footer
    {
        background-color: rgb(242, 164, 68,0.8)
    }

    .twitter
{
    margin-left: 70%;
   
   
}

@media screen and (max-width: 800px) 


  {
      @import 'layout/responsive';
  }

