@import 'base/fonts';
@import 'layout/nav';
span
{
    color: #F2A444
}
body
{
    
}

header img 
{
    
    margin-left: 40%; 
}

h1
{
    margin-left: 42%;
}



    .first-image{
        display: flex;
        justify-content: space-around;
        margin: 4%;
        opacity: 0.9;
    }

 .second-image
 {
    display: flex;
    justify-content: space-around;
    margin: 4%
 }

    h2 ,p 
    {
        text-align: center; 
    }

    main p
    {
        text-align: inherit;
        margin-left: 5%;
        margin-right: 5%;
    }


        

    footer
    {
        background-color: rgb(242, 164, 68,0.8)
    }

    .twitter
{
    margin-left: 70%;
   
   
}